@import url(https://fonts.googleapis.com/css?family=opensans:500);
@import url(https://fonts.googleapis.com/css?family=opensans:500);
.CUlMxwM5C2m8eNjd8wxHxw\=\={color:inherit;text-decoration:none}
.lHmHFbFxZR5lGJPKzd8WVQ\=\={display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;margin-right:auto}
.FPLjCmRDxCfDZSyoa7-d-w\=\={display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;opacity:1;-webkit-transition:all ease-in-out .3s;transition:all ease-in-out .3s}.FPLjCmRDxCfDZSyoa7-d-w\=\=:hover{opacity:.5;-webkit-transition:all ease-in-out .3s;transition:all ease-in-out .3s}
.RaVcHXc0P5OZ79\+tNjWzJw\=\={display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;opacity:1;-webkit-transition:all ease-in-out .3s;transition:all ease-in-out .3s}.RaVcHXc0P5OZ79\+tNjWzJw\=\=:hover{opacity:.5;-webkit-transition:all ease-in-out .3s;transition:all ease-in-out .3s}
.FG\+I0VGk-QhgTVQ1A1oTPw\=\={display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;width:100vw;-webkit-box-sizing:border-box;box-sizing:border-box;-webkit-box-pack:justify;-webkit-justify-content:space-between;-ms-flex-pack:justify;justify-content:space-between;padding:5px;gap:10px}
.NdkMqHIlH3jvQmEop-nqmg\=\={display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;gap:7px}
.g\+i9jASEeNMeLDkZ38Zqjg\=\={display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;margin-left:auto;gap:7px}
._6G9amZ3bX2-5jnvrDUDfiA\=\={display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;min-height:100vh;-webkit-box-orient:vertical;-webkit-box-direction:normal;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;background-color:#fff;background-color:#1976d2}.BI-aNww6yFI\+NDJbPAIR4w\=\={display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;width:100%;max-width:1920px;-webkit-box-orient:vertical;-webkit-box-direction:normal;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;-webkit-box-flex:1;-webkit-flex-grow:1;-ms-flex-positive:1;flex-grow:1}.EG5Q-a1tcMMfJO838mnurA\=\={display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;-webkit-box-flex:1;-webkit-flex-grow:1;-ms-flex-positive:1;flex-grow:1}
:root {
  --toastify-color-light: #fff;
  --toastify-color-dark: #121212;
  --toastify-color-info: #3498db;
  --toastify-color-success: #07bc0c;
  --toastify-color-warning: #f1c40f;
  --toastify-color-error: #e74c3c;
  --toastify-color-transparent: rgba(255, 255, 255, 0.7);
  --toastify-icon-color-info: var(--toastify-color-info);
  --toastify-icon-color-success: var(--toastify-color-success);
  --toastify-icon-color-warning: var(--toastify-color-warning);
  --toastify-icon-color-error: var(--toastify-color-error);
  --toastify-toast-width: 320px;
  --toastify-toast-offset: 16px;
  --toastify-toast-top: max(var(--toastify-toast-offset), env(safe-area-inset-top));
  --toastify-toast-right: max(var(--toastify-toast-offset), env(safe-area-inset-right));
  --toastify-toast-left: max(var(--toastify-toast-offset), env(safe-area-inset-left));
  --toastify-toast-bottom: max(var(--toastify-toast-offset), env(safe-area-inset-bottom));
  --toastify-toast-background: #fff;
  --toastify-toast-min-height: 64px;
  --toastify-toast-max-height: 800px;
  --toastify-toast-bd-radius: 6px;
  --toastify-font-family: sans-serif;
  --toastify-z-index: 9999;
  --toastify-text-color-light: #757575;
  --toastify-text-color-dark: #fff;
  --toastify-text-color-info: #fff;
  --toastify-text-color-success: #fff;
  --toastify-text-color-warning: #fff;
  --toastify-text-color-error: #fff;
  --toastify-spinner-color: #616161;
  --toastify-spinner-color-empty-area: #e0e0e0;
  --toastify-color-progress-light: linear-gradient(
    to right,
    #4cd964,
    #5ac8fa,
    #007aff,
    #34aadc,
    #5856d6,
    #ff2d55
  );
  --toastify-color-progress-dark: #bb86fc;
  --toastify-color-progress-info: var(--toastify-color-info);
  --toastify-color-progress-success: var(--toastify-color-success);
  --toastify-color-progress-warning: var(--toastify-color-warning);
  --toastify-color-progress-error: var(--toastify-color-error);
  --toastify-color-progress-bgo: 0.2;
}

.Toastify__toast-container {
  z-index: var(--toastify-z-index);
  -webkit-transform: translate3d(0, 0, var(--toastify-z-index));
  position: fixed;
  padding: 4px;
  width: var(--toastify-toast-width);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #fff;
}
.Toastify__toast-container--top-left {
  top: var(--toastify-toast-top);
  left: var(--toastify-toast-left);
}
.Toastify__toast-container--top-center {
  top: var(--toastify-toast-top);
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.Toastify__toast-container--top-right {
  top: var(--toastify-toast-top);
  right: var(--toastify-toast-right);
}
.Toastify__toast-container--bottom-left {
  bottom: var(--toastify-toast-bottom);
  left: var(--toastify-toast-left);
}
.Toastify__toast-container--bottom-center {
  bottom: var(--toastify-toast-bottom);
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.Toastify__toast-container--bottom-right {
  bottom: var(--toastify-toast-bottom);
  right: var(--toastify-toast-right);
}

@media only screen and (max-width : 480px) {
  .Toastify__toast-container {
    width: 100vw;
    padding: 0;
    left: env(safe-area-inset-left);
    margin: 0;
  }
  .Toastify__toast-container--top-left, .Toastify__toast-container--top-center, .Toastify__toast-container--top-right {
    top: env(safe-area-inset-top);
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .Toastify__toast-container--bottom-left, .Toastify__toast-container--bottom-center, .Toastify__toast-container--bottom-right {
    bottom: env(safe-area-inset-bottom);
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .Toastify__toast-container--rtl {
    right: env(safe-area-inset-right);
    left: initial;
  }
}
.Toastify__toast {
  --y: 0;
  position: relative;
  -ms-touch-action: none;
      touch-action: none;
  min-height: var(--toastify-toast-min-height);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 1rem;
  padding: 8px;
  border-radius: var(--toastify-toast-bd-radius);
  -webkit-box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -ms-flex-pack: justify;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          justify-content: space-between;
  max-height: var(--toastify-toast-max-height);
  font-family: var(--toastify-font-family);
  cursor: default;
  direction: ltr;
  /* webkit only issue #791 */
  z-index: 0;
  overflow: hidden;
}
.Toastify__toast--stacked {
  position: absolute;
  width: 100%;
  -webkit-transform: translate3d(0, var(--y), 0) scale(var(--s));
          transform: translate3d(0, var(--y), 0) scale(var(--s));
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
.Toastify__toast--stacked[data-collapsed] .Toastify__toast-body, .Toastify__toast--stacked[data-collapsed] .Toastify__close-button {
  -webkit-transition: opacity 0.1s;
  transition: opacity 0.1s;
}
.Toastify__toast--stacked[data-collapsed=false] {
  overflow: visible;
}
.Toastify__toast--stacked[data-collapsed=true]:not(:last-child) > * {
  opacity: 0;
}
.Toastify__toast--stacked:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  height: calc(var(--g) * 1px);
  bottom: 100%;
}
.Toastify__toast--stacked[data-pos=top] {
  top: 0;
}
.Toastify__toast--stacked[data-pos=bot] {
  bottom: 0;
}
.Toastify__toast--stacked[data-pos=bot].Toastify__toast--stacked:before {
  -webkit-transform-origin: top;
          transform-origin: top;
}
.Toastify__toast--stacked[data-pos=top].Toastify__toast--stacked:before {
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
}
.Toastify__toast--stacked:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  -webkit-transform: scaleY(3);
          transform: scaleY(3);
  z-index: -1;
}
.Toastify__toast--rtl {
  direction: rtl;
}
.Toastify__toast--close-on-click {
  cursor: pointer;
}
.Toastify__toast-body {
  margin: auto 0;
  -ms-flex: 1 1 auto;
      -webkit-box-flex: 1;
      -webkit-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 6px;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -ms-flex-align: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
          align-items: center;
}
.Toastify__toast-body > div:last-child {
  word-break: break-word;
  -ms-flex: 1;
      -webkit-box-flex: 1;
      -webkit-flex: 1;
          flex: 1;
}
.Toastify__toast-icon {
  -webkit-margin-end: 10px;
          margin-inline-end: 10px;
  width: 20px;
  -ms-flex-negative: 0;
      -webkit-flex-shrink: 0;
          flex-shrink: 0;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
}

.Toastify--animate {
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
}

.Toastify--animate-icon {
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
}

@media only screen and (max-width : 480px) {
  .Toastify__toast {
    margin-bottom: 0;
    border-radius: 0;
  }
}
.Toastify__toast-theme--dark {
  background: var(--toastify-color-dark);
  color: var(--toastify-text-color-dark);
}
.Toastify__toast-theme--light {
  background: var(--toastify-color-light);
  color: var(--toastify-text-color-light);
}
.Toastify__toast-theme--colored.Toastify__toast--default {
  background: var(--toastify-color-light);
  color: var(--toastify-text-color-light);
}
.Toastify__toast-theme--colored.Toastify__toast--info {
  color: var(--toastify-text-color-info);
  background: var(--toastify-color-info);
}
.Toastify__toast-theme--colored.Toastify__toast--success {
  color: var(--toastify-text-color-success);
  background: var(--toastify-color-success);
}
.Toastify__toast-theme--colored.Toastify__toast--warning {
  color: var(--toastify-text-color-warning);
  background: var(--toastify-color-warning);
}
.Toastify__toast-theme--colored.Toastify__toast--error {
  color: var(--toastify-text-color-error);
  background: var(--toastify-color-error);
}

.Toastify__progress-bar-theme--light {
  background: var(--toastify-color-progress-light);
}
.Toastify__progress-bar-theme--dark {
  background: var(--toastify-color-progress-dark);
}
.Toastify__progress-bar--info {
  background: var(--toastify-color-progress-info);
}
.Toastify__progress-bar--success {
  background: var(--toastify-color-progress-success);
}
.Toastify__progress-bar--warning {
  background: var(--toastify-color-progress-warning);
}
.Toastify__progress-bar--error {
  background: var(--toastify-color-progress-error);
}
.Toastify__progress-bar-theme--colored.Toastify__progress-bar--info, .Toastify__progress-bar-theme--colored.Toastify__progress-bar--success, .Toastify__progress-bar-theme--colored.Toastify__progress-bar--warning, .Toastify__progress-bar-theme--colored.Toastify__progress-bar--error {
  background: var(--toastify-color-transparent);
}

.Toastify__close-button {
  color: #fff;
  background: transparent;
  outline: none;
  border: none;
  padding: 0;
  cursor: pointer;
  opacity: 0.7;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  -ms-flex-item-align: start;
      -webkit-align-self: flex-start;
          align-self: flex-start;
  z-index: 1;
}
.Toastify__close-button--light {
  color: #000;
  opacity: 0.3;
}
.Toastify__close-button > svg {
  fill: currentColor;
  height: 16px;
  width: 14px;
}
.Toastify__close-button:hover, .Toastify__close-button:focus {
  opacity: 1;
}

@-webkit-keyframes Toastify__trackProgress {
  0% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  100% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
}

@keyframes Toastify__trackProgress {
  0% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  100% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
}
.Toastify__progress-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: var(--toastify-z-index);
  opacity: 0.7;
  -webkit-transform-origin: left;
          transform-origin: left;
  border-bottom-left-radius: var(--toastify-toast-bd-radius);
}
.Toastify__progress-bar--animated {
  -webkit-animation: Toastify__trackProgress linear 1 forwards;
          animation: Toastify__trackProgress linear 1 forwards;
}
.Toastify__progress-bar--controlled {
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}
.Toastify__progress-bar--rtl {
  right: 0;
  left: initial;
  -webkit-transform-origin: right;
          transform-origin: right;
  border-bottom-left-radius: initial;
  border-bottom-right-radius: var(--toastify-toast-bd-radius);
}
.Toastify__progress-bar--wrp {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5px;
  border-bottom-left-radius: var(--toastify-toast-bd-radius);
}
.Toastify__progress-bar--wrp[data-hidden=true] {
  opacity: 0;
}
.Toastify__progress-bar--bg {
  opacity: var(--toastify-color-progress-bgo);
  width: 100%;
  height: 100%;
}

.Toastify__spinner {
  width: 20px;
  height: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 2px solid;
  border-radius: 100%;
  border-color: var(--toastify-spinner-color-empty-area);
  border-right-color: var(--toastify-spinner-color);
  -webkit-animation: Toastify__spin 0.65s linear infinite;
          animation: Toastify__spin 0.65s linear infinite;
}

@-webkit-keyframes Toastify__bounceInRight {
  from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  from {
    opacity: 0;
    -webkit-transform: translate3d(3000px, 0, 0);
            transform: translate3d(3000px, 0, 0);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(-25px, 0, 0);
            transform: translate3d(-25px, 0, 0);
  }
  75% {
    -webkit-transform: translate3d(10px, 0, 0);
            transform: translate3d(10px, 0, 0);
  }
  90% {
    -webkit-transform: translate3d(-5px, 0, 0);
            transform: translate3d(-5px, 0, 0);
  }
  to {
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes Toastify__bounceInRight {
  from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  from {
    opacity: 0;
    -webkit-transform: translate3d(3000px, 0, 0);
            transform: translate3d(3000px, 0, 0);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(-25px, 0, 0);
            transform: translate3d(-25px, 0, 0);
  }
  75% {
    -webkit-transform: translate3d(10px, 0, 0);
            transform: translate3d(10px, 0, 0);
  }
  90% {
    -webkit-transform: translate3d(-5px, 0, 0);
            transform: translate3d(-5px, 0, 0);
  }
  to {
    -webkit-transform: none;
            transform: none;
  }
}
@-webkit-keyframes Toastify__bounceOutRight {
  20% {
    opacity: 1;
    -webkit-transform: translate3d(-20px, var(--y), 0);
            transform: translate3d(-20px, var(--y), 0);
  }
  to {
    opacity: 0;
    -webkit-transform: translate3d(2000px, var(--y), 0);
            transform: translate3d(2000px, var(--y), 0);
  }
}
@keyframes Toastify__bounceOutRight {
  20% {
    opacity: 1;
    -webkit-transform: translate3d(-20px, var(--y), 0);
            transform: translate3d(-20px, var(--y), 0);
  }
  to {
    opacity: 0;
    -webkit-transform: translate3d(2000px, var(--y), 0);
            transform: translate3d(2000px, var(--y), 0);
  }
}
@-webkit-keyframes Toastify__bounceInLeft {
  from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-3000px, 0, 0);
            transform: translate3d(-3000px, 0, 0);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(25px, 0, 0);
            transform: translate3d(25px, 0, 0);
  }
  75% {
    -webkit-transform: translate3d(-10px, 0, 0);
            transform: translate3d(-10px, 0, 0);
  }
  90% {
    -webkit-transform: translate3d(5px, 0, 0);
            transform: translate3d(5px, 0, 0);
  }
  to {
    -webkit-transform: none;
            transform: none;
  }
}
@keyframes Toastify__bounceInLeft {
  from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-3000px, 0, 0);
            transform: translate3d(-3000px, 0, 0);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(25px, 0, 0);
            transform: translate3d(25px, 0, 0);
  }
  75% {
    -webkit-transform: translate3d(-10px, 0, 0);
            transform: translate3d(-10px, 0, 0);
  }
  90% {
    -webkit-transform: translate3d(5px, 0, 0);
            transform: translate3d(5px, 0, 0);
  }
  to {
    -webkit-transform: none;
            transform: none;
  }
}
@-webkit-keyframes Toastify__bounceOutLeft {
  20% {
    opacity: 1;
    -webkit-transform: translate3d(20px, var(--y), 0);
            transform: translate3d(20px, var(--y), 0);
  }
  to {
    opacity: 0;
    -webkit-transform: translate3d(-2000px, var(--y), 0);
            transform: translate3d(-2000px, var(--y), 0);
  }
}
@keyframes Toastify__bounceOutLeft {
  20% {
    opacity: 1;
    -webkit-transform: translate3d(20px, var(--y), 0);
            transform: translate3d(20px, var(--y), 0);
  }
  to {
    opacity: 0;
    -webkit-transform: translate3d(-2000px, var(--y), 0);
            transform: translate3d(-2000px, var(--y), 0);
  }
}
@-webkit-keyframes Toastify__bounceInUp {
  from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 3000px, 0);
            transform: translate3d(0, 3000px, 0);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, -20px, 0);
            transform: translate3d(0, -20px, 0);
  }
  75% {
    -webkit-transform: translate3d(0, 10px, 0);
            transform: translate3d(0, 10px, 0);
  }
  90% {
    -webkit-transform: translate3d(0, -5px, 0);
            transform: translate3d(0, -5px, 0);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}
@keyframes Toastify__bounceInUp {
  from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 3000px, 0);
            transform: translate3d(0, 3000px, 0);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, -20px, 0);
            transform: translate3d(0, -20px, 0);
  }
  75% {
    -webkit-transform: translate3d(0, 10px, 0);
            transform: translate3d(0, 10px, 0);
  }
  90% {
    -webkit-transform: translate3d(0, -5px, 0);
            transform: translate3d(0, -5px, 0);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes Toastify__bounceOutUp {
  20% {
    -webkit-transform: translate3d(0, calc(var(--y) - 10px), 0);
            transform: translate3d(0, calc(var(--y) - 10px), 0);
  }
  40%, 45% {
    opacity: 1;
    -webkit-transform: translate3d(0, calc(var(--y) + 20px), 0);
            transform: translate3d(0, calc(var(--y) + 20px), 0);
  }
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, -2000px, 0);
            transform: translate3d(0, -2000px, 0);
  }
}
@keyframes Toastify__bounceOutUp {
  20% {
    -webkit-transform: translate3d(0, calc(var(--y) - 10px), 0);
            transform: translate3d(0, calc(var(--y) - 10px), 0);
  }
  40%, 45% {
    opacity: 1;
    -webkit-transform: translate3d(0, calc(var(--y) + 20px), 0);
            transform: translate3d(0, calc(var(--y) + 20px), 0);
  }
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, -2000px, 0);
            transform: translate3d(0, -2000px, 0);
  }
}
@-webkit-keyframes Toastify__bounceInDown {
  from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
            transform: translate3d(0, -3000px, 0);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
            transform: translate3d(0, 25px, 0);
  }
  75% {
    -webkit-transform: translate3d(0, -10px, 0);
            transform: translate3d(0, -10px, 0);
  }
  90% {
    -webkit-transform: translate3d(0, 5px, 0);
            transform: translate3d(0, 5px, 0);
  }
  to {
    -webkit-transform: none;
            transform: none;
  }
}
@keyframes Toastify__bounceInDown {
  from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
            transform: translate3d(0, -3000px, 0);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
            transform: translate3d(0, 25px, 0);
  }
  75% {
    -webkit-transform: translate3d(0, -10px, 0);
            transform: translate3d(0, -10px, 0);
  }
  90% {
    -webkit-transform: translate3d(0, 5px, 0);
            transform: translate3d(0, 5px, 0);
  }
  to {
    -webkit-transform: none;
            transform: none;
  }
}
@-webkit-keyframes Toastify__bounceOutDown {
  20% {
    -webkit-transform: translate3d(0, calc(var(--y) - 10px), 0);
            transform: translate3d(0, calc(var(--y) - 10px), 0);
  }
  40%, 45% {
    opacity: 1;
    -webkit-transform: translate3d(0, calc(var(--y) + 20px), 0);
            transform: translate3d(0, calc(var(--y) + 20px), 0);
  }
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, 2000px, 0);
            transform: translate3d(0, 2000px, 0);
  }
}
@keyframes Toastify__bounceOutDown {
  20% {
    -webkit-transform: translate3d(0, calc(var(--y) - 10px), 0);
            transform: translate3d(0, calc(var(--y) - 10px), 0);
  }
  40%, 45% {
    opacity: 1;
    -webkit-transform: translate3d(0, calc(var(--y) + 20px), 0);
            transform: translate3d(0, calc(var(--y) + 20px), 0);
  }
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, 2000px, 0);
            transform: translate3d(0, 2000px, 0);
  }
}
.Toastify__bounce-enter--top-left, .Toastify__bounce-enter--bottom-left {
  -webkit-animation-name: Toastify__bounceInLeft;
          animation-name: Toastify__bounceInLeft;
}
.Toastify__bounce-enter--top-right, .Toastify__bounce-enter--bottom-right {
  -webkit-animation-name: Toastify__bounceInRight;
          animation-name: Toastify__bounceInRight;
}
.Toastify__bounce-enter--top-center {
  -webkit-animation-name: Toastify__bounceInDown;
          animation-name: Toastify__bounceInDown;
}
.Toastify__bounce-enter--bottom-center {
  -webkit-animation-name: Toastify__bounceInUp;
          animation-name: Toastify__bounceInUp;
}

.Toastify__bounce-exit--top-left, .Toastify__bounce-exit--bottom-left {
  -webkit-animation-name: Toastify__bounceOutLeft;
          animation-name: Toastify__bounceOutLeft;
}
.Toastify__bounce-exit--top-right, .Toastify__bounce-exit--bottom-right {
  -webkit-animation-name: Toastify__bounceOutRight;
          animation-name: Toastify__bounceOutRight;
}
.Toastify__bounce-exit--top-center {
  -webkit-animation-name: Toastify__bounceOutUp;
          animation-name: Toastify__bounceOutUp;
}
.Toastify__bounce-exit--bottom-center {
  -webkit-animation-name: Toastify__bounceOutDown;
          animation-name: Toastify__bounceOutDown;
}

@-webkit-keyframes Toastify__zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
            transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
  }
}

@keyframes Toastify__zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
            transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
  }
}
@-webkit-keyframes Toastify__zoomOut {
  from {
    opacity: 1;
  }
  50% {
    opacity: 0;
    -webkit-transform: translate3d(0, var(--y), 0) scale3d(0.3, 0.3, 0.3);
            transform: translate3d(0, var(--y), 0) scale3d(0.3, 0.3, 0.3);
  }
  to {
    opacity: 0;
  }
}
@keyframes Toastify__zoomOut {
  from {
    opacity: 1;
  }
  50% {
    opacity: 0;
    -webkit-transform: translate3d(0, var(--y), 0) scale3d(0.3, 0.3, 0.3);
            transform: translate3d(0, var(--y), 0) scale3d(0.3, 0.3, 0.3);
  }
  to {
    opacity: 0;
  }
}
.Toastify__zoom-enter {
  -webkit-animation-name: Toastify__zoomIn;
          animation-name: Toastify__zoomIn;
}

.Toastify__zoom-exit {
  -webkit-animation-name: Toastify__zoomOut;
          animation-name: Toastify__zoomOut;
}

@-webkit-keyframes Toastify__flipIn {
  from {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
            transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  40% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
            transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  60% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
            transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }
  80% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
            transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }
  to {
    -webkit-transform: perspective(400px);
            transform: perspective(400px);
  }
}

@keyframes Toastify__flipIn {
  from {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
            transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  40% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
            transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  60% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
            transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }
  80% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
            transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }
  to {
    -webkit-transform: perspective(400px);
            transform: perspective(400px);
  }
}
@-webkit-keyframes Toastify__flipOut {
  from {
    -webkit-transform: translate3d(0, var(--y), 0) perspective(400px);
            transform: translate3d(0, var(--y), 0) perspective(400px);
  }
  30% {
    -webkit-transform: translate3d(0, var(--y), 0) perspective(400px) rotate3d(1, 0, 0, -20deg);
            transform: translate3d(0, var(--y), 0) perspective(400px) rotate3d(1, 0, 0, -20deg);
    opacity: 1;
  }
  to {
    -webkit-transform: translate3d(0, var(--y), 0) perspective(400px) rotate3d(1, 0, 0, 90deg);
            transform: translate3d(0, var(--y), 0) perspective(400px) rotate3d(1, 0, 0, 90deg);
    opacity: 0;
  }
}
@keyframes Toastify__flipOut {
  from {
    -webkit-transform: translate3d(0, var(--y), 0) perspective(400px);
            transform: translate3d(0, var(--y), 0) perspective(400px);
  }
  30% {
    -webkit-transform: translate3d(0, var(--y), 0) perspective(400px) rotate3d(1, 0, 0, -20deg);
            transform: translate3d(0, var(--y), 0) perspective(400px) rotate3d(1, 0, 0, -20deg);
    opacity: 1;
  }
  to {
    -webkit-transform: translate3d(0, var(--y), 0) perspective(400px) rotate3d(1, 0, 0, 90deg);
            transform: translate3d(0, var(--y), 0) perspective(400px) rotate3d(1, 0, 0, 90deg);
    opacity: 0;
  }
}
.Toastify__flip-enter {
  -webkit-animation-name: Toastify__flipIn;
          animation-name: Toastify__flipIn;
}

.Toastify__flip-exit {
  -webkit-animation-name: Toastify__flipOut;
          animation-name: Toastify__flipOut;
}

@-webkit-keyframes Toastify__slideInRight {
  from {
    -webkit-transform: translate3d(110%, 0, 0);
            transform: translate3d(110%, 0, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, var(--y), 0);
            transform: translate3d(0, var(--y), 0);
  }
}

@keyframes Toastify__slideInRight {
  from {
    -webkit-transform: translate3d(110%, 0, 0);
            transform: translate3d(110%, 0, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, var(--y), 0);
            transform: translate3d(0, var(--y), 0);
  }
}
@-webkit-keyframes Toastify__slideInLeft {
  from {
    -webkit-transform: translate3d(-110%, 0, 0);
            transform: translate3d(-110%, 0, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, var(--y), 0);
            transform: translate3d(0, var(--y), 0);
  }
}
@keyframes Toastify__slideInLeft {
  from {
    -webkit-transform: translate3d(-110%, 0, 0);
            transform: translate3d(-110%, 0, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, var(--y), 0);
            transform: translate3d(0, var(--y), 0);
  }
}
@-webkit-keyframes Toastify__slideInUp {
  from {
    -webkit-transform: translate3d(0, 110%, 0);
            transform: translate3d(0, 110%, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, var(--y), 0);
            transform: translate3d(0, var(--y), 0);
  }
}
@keyframes Toastify__slideInUp {
  from {
    -webkit-transform: translate3d(0, 110%, 0);
            transform: translate3d(0, 110%, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, var(--y), 0);
            transform: translate3d(0, var(--y), 0);
  }
}
@-webkit-keyframes Toastify__slideInDown {
  from {
    -webkit-transform: translate3d(0, -110%, 0);
            transform: translate3d(0, -110%, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, var(--y), 0);
            transform: translate3d(0, var(--y), 0);
  }
}
@keyframes Toastify__slideInDown {
  from {
    -webkit-transform: translate3d(0, -110%, 0);
            transform: translate3d(0, -110%, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, var(--y), 0);
            transform: translate3d(0, var(--y), 0);
  }
}
@-webkit-keyframes Toastify__slideOutRight {
  from {
    -webkit-transform: translate3d(0, var(--y), 0);
            transform: translate3d(0, var(--y), 0);
  }
  to {
    visibility: hidden;
    -webkit-transform: translate3d(110%, var(--y), 0);
            transform: translate3d(110%, var(--y), 0);
  }
}
@keyframes Toastify__slideOutRight {
  from {
    -webkit-transform: translate3d(0, var(--y), 0);
            transform: translate3d(0, var(--y), 0);
  }
  to {
    visibility: hidden;
    -webkit-transform: translate3d(110%, var(--y), 0);
            transform: translate3d(110%, var(--y), 0);
  }
}
@-webkit-keyframes Toastify__slideOutLeft {
  from {
    -webkit-transform: translate3d(0, var(--y), 0);
            transform: translate3d(0, var(--y), 0);
  }
  to {
    visibility: hidden;
    -webkit-transform: translate3d(-110%, var(--y), 0);
            transform: translate3d(-110%, var(--y), 0);
  }
}
@keyframes Toastify__slideOutLeft {
  from {
    -webkit-transform: translate3d(0, var(--y), 0);
            transform: translate3d(0, var(--y), 0);
  }
  to {
    visibility: hidden;
    -webkit-transform: translate3d(-110%, var(--y), 0);
            transform: translate3d(-110%, var(--y), 0);
  }
}
@-webkit-keyframes Toastify__slideOutDown {
  from {
    -webkit-transform: translate3d(0, var(--y), 0);
            transform: translate3d(0, var(--y), 0);
  }
  to {
    visibility: hidden;
    -webkit-transform: translate3d(0, 500px, 0);
            transform: translate3d(0, 500px, 0);
  }
}
@keyframes Toastify__slideOutDown {
  from {
    -webkit-transform: translate3d(0, var(--y), 0);
            transform: translate3d(0, var(--y), 0);
  }
  to {
    visibility: hidden;
    -webkit-transform: translate3d(0, 500px, 0);
            transform: translate3d(0, 500px, 0);
  }
}
@-webkit-keyframes Toastify__slideOutUp {
  from {
    -webkit-transform: translate3d(0, var(--y), 0);
            transform: translate3d(0, var(--y), 0);
  }
  to {
    visibility: hidden;
    -webkit-transform: translate3d(0, -500px, 0);
            transform: translate3d(0, -500px, 0);
  }
}
@keyframes Toastify__slideOutUp {
  from {
    -webkit-transform: translate3d(0, var(--y), 0);
            transform: translate3d(0, var(--y), 0);
  }
  to {
    visibility: hidden;
    -webkit-transform: translate3d(0, -500px, 0);
            transform: translate3d(0, -500px, 0);
  }
}
.Toastify__slide-enter--top-left, .Toastify__slide-enter--bottom-left {
  -webkit-animation-name: Toastify__slideInLeft;
          animation-name: Toastify__slideInLeft;
}
.Toastify__slide-enter--top-right, .Toastify__slide-enter--bottom-right {
  -webkit-animation-name: Toastify__slideInRight;
          animation-name: Toastify__slideInRight;
}
.Toastify__slide-enter--top-center {
  -webkit-animation-name: Toastify__slideInDown;
          animation-name: Toastify__slideInDown;
}
.Toastify__slide-enter--bottom-center {
  -webkit-animation-name: Toastify__slideInUp;
          animation-name: Toastify__slideInUp;
}

.Toastify__slide-exit--top-left, .Toastify__slide-exit--bottom-left {
  -webkit-animation-name: Toastify__slideOutLeft;
          animation-name: Toastify__slideOutLeft;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
}
.Toastify__slide-exit--top-right, .Toastify__slide-exit--bottom-right {
  -webkit-animation-name: Toastify__slideOutRight;
          animation-name: Toastify__slideOutRight;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
}
.Toastify__slide-exit--top-center {
  -webkit-animation-name: Toastify__slideOutUp;
          animation-name: Toastify__slideOutUp;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
}
.Toastify__slide-exit--bottom-center {
  -webkit-animation-name: Toastify__slideOutDown;
          animation-name: Toastify__slideOutDown;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
}

@-webkit-keyframes Toastify__spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes Toastify__spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
.Vww7zlOaaaevZvMzt1p\+Gw\=\={display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-flex:1;-webkit-flex-grow:1;-ms-flex-positive:1;flex-grow:1;background-color:#56a9fc}
.KMQj2D1WRWGe6R6c9mq4iw\=\={display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-flex:1;-webkit-flex-grow:1;-ms-flex-positive:1;flex-grow:1;background-color:#56a9fc}
.aldQynzs7FEqOM8txCUreQ\=\={display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-flex:1;-webkit-flex-grow:1;-ms-flex-positive:1;flex-grow:1;background-color:#56a9fc}
.ZXau8olUlB9PRKO-impRaA\=\={--main-color: rgb(86 169 252);position:relative;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;overflow:hidden;-webkit-box-flex:1;-webkit-flex-grow:1;-ms-flex-positive:1;flex-grow:1;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;background-color:var(--main-color);font-family:"Open Sans",sans-serif}.YAsepk\+tA6xdMVTAMfqdiQ\=\={--font-size: 220px;position:relative;display:block;width:80%;margin:100px auto;color:#fff;font-size:var(--font-size);text-align:center}.sD-9q74OvPNipFcS2TsUrg\=\={position:relative;z-index:2;display:inline-block;letter-spacing:15px}.uaWQrAJMDtgSHm8\+YsZmug\=\={position:relative;display:block;font-size:.3em;letter-spacing:12px;line-height:80%;text-align:center}.dOPUlxxfp4BLtHacoba8Mg\=\={position:relative;display:block;margin-bottom:20px;font-size:.15em;text-align:center}.ca9KP7j4EDsj-ubzyymkww\=\={z-index:-10;width:420px;height:10px;padding:0;border:none;border-top:5px solid #fff;margin:0 auto;color:#fff;text-align:center}.o5OjLN9UibktJKBV2g\+rhQ\=\={color:#fff}.o5OjLN9UibktJKBV2g\+rhQ\=\=:hover{color:var(--main-color)}@media screen and (width <= 600px){.YAsepk\+tA6xdMVTAMfqdiQ\=\={--font-size: 100px}.ca9KP7j4EDsj-ubzyymkww\=\={width:260px}}.awEm1VBAFzZovVXOoe3Cmw\=\={position:absolute;z-index:0;width:350px;height:120px;border-radius:100px;margin:120px auto 20px;background:#fff;background:-webkit-gradient(linear, left bottom, left top, to(#fff));background:linear-gradient(to top, #fff 100%);-webkit-transition:ease 1s;transition:ease 1s}.awEm1VBAFzZovVXOoe3Cmw\=\=::after,.awEm1VBAFzZovVXOoe3Cmw\=\=::before{position:absolute;z-index:-1;background:#fff;content:""}.awEm1VBAFzZovVXOoe3Cmw\=\=::after{top:-50px;left:50px;width:100px;height:100px;border-radius:100px}.awEm1VBAFzZovVXOoe3Cmw\=\=::before{top:-90px;right:50px;width:180px;height:180px;border-radius:200px}.i3MkTPcUUM0Sixa8xWAbKA\=\={top:-50px;right:-100px;-webkit-animation:eodZxj0ZOFl\+fD5D8h\+iCA\=\= 25s linear infinite;animation:eodZxj0ZOFl\+fD5D8h\+iCA\=\= 25s linear infinite;opacity:.9;-webkit-transform:scale(0.3);transform:scale(0.3)}.timJTEr0qnnyVJi\+WvkagA\=\={top:-80px;right:-250px;-webkit-animation:eodZxj0ZOFl\+fD5D8h\+iCA\=\= 27s linear infinite;animation:eodZxj0ZOFl\+fD5D8h\+iCA\=\= 27s linear infinite;-webkit-transform:scale(0.3);transform:scale(0.3)}.SHa1hL-QtNbDQ5J8lv-RYg\=\={top:30px;right:-500px;-webkit-animation:eodZxj0ZOFl\+fD5D8h\+iCA\=\= 35s linear infinite;animation:eodZxj0ZOFl\+fD5D8h\+iCA\=\= 35s linear infinite;opacity:.6;-webkit-transform:scale(0.6);transform:scale(0.6)}.o6UMlqZf31UQCUoEWyjA2g\=\={right:-1500px;bottom:-70px;-webkit-animation:eodZxj0ZOFl\+fD5D8h\+iCA\=\= 25s linear infinite;animation:eodZxj0ZOFl\+fD5D8h\+iCA\=\= 25s linear infinite;opacity:.8;-webkit-transform:scale(0.6);transform:scale(0.6)}.MjSmXKQUOXaKZzAD0dFDrg\=\={right:-1000px;bottom:20px;-webkit-animation:eodZxj0ZOFl\+fD5D8h\+iCA\=\= 28s linear infinite;animation:eodZxj0ZOFl\+fD5D8h\+iCA\=\= 28s linear infinite;opacity:.75;-webkit-transform:scale(0.75);transform:scale(0.75)}.ZxbOYYh5DGJYNJF5GikFug\=\={top:300px;right:-1400px;-webkit-animation:eodZxj0ZOFl\+fD5D8h\+iCA\=\= 20s linear infinite;animation:eodZxj0ZOFl\+fD5D8h\+iCA\=\= 20s linear infinite;opacity:.8;-webkit-transform:scale(0.5);transform:scale(0.5)}.meQir8DmOZj\+XLtn-TKYBQ\=\={top:100px;right:-700px;-webkit-animation:eodZxj0ZOFl\+fD5D8h\+iCA\=\= 30s linear infinite;animation:eodZxj0ZOFl\+fD5D8h\+iCA\=\= 30s linear infinite;opacity:.2;-webkit-transform:scale(0.4);transform:scale(0.4)}.aWTBpsacvRnENOtvgEPOSg\=\={top:400px;right:-350px;-webkit-animation:eodZxj0ZOFl\+fD5D8h\+iCA\=\= 20s linear infinite;animation:eodZxj0ZOFl\+fD5D8h\+iCA\=\= 20s linear infinite;opacity:.3;-webkit-transform:scale(1.4);transform:scale(1.4)}.Tj4gZw7\+h3MMALWMZvK4Sw\=\={top:-50px;right:-3100px;-webkit-animation:eodZxj0ZOFl\+fD5D8h\+iCA\=\= 25s linear infinite;animation:eodZxj0ZOFl\+fD5D8h\+iCA\=\= 25s linear infinite;opacity:.9;-webkit-transform:scale(0.3);transform:scale(0.3)}.AU\+jUGOX9kiTthZ45Zaj5Q\=\={top:-80px;right:-3250px;-webkit-animation:eodZxj0ZOFl\+fD5D8h\+iCA\=\= 27s linear infinite;animation:eodZxj0ZOFl\+fD5D8h\+iCA\=\= 27s linear infinite;-webkit-transform:scale(0.3);transform:scale(0.3)}.esbR36J4WDRqVWWnqHwwZg\=\={top:30px;right:-2500px;-webkit-animation:eodZxj0ZOFl\+fD5D8h\+iCA\=\= 35s linear infinite;animation:eodZxj0ZOFl\+fD5D8h\+iCA\=\= 35s linear infinite;opacity:.6;-webkit-transform:scale(0.6);transform:scale(0.6)}.I877kT0nL3NPzcqm7-ogzg\=\={right:-2500px;bottom:-70px;-webkit-animation:eodZxj0ZOFl\+fD5D8h\+iCA\=\= 25s linear infinite;animation:eodZxj0ZOFl\+fD5D8h\+iCA\=\= 25s linear infinite;opacity:.8;-webkit-transform:scale(0.6);transform:scale(0.6)}.sWPrw5CLMd2QKxy8zY2SQg\=\={right:-1500px;bottom:20px;-webkit-animation:eodZxj0ZOFl\+fD5D8h\+iCA\=\= 28s linear infinite;animation:eodZxj0ZOFl\+fD5D8h\+iCA\=\= 28s linear infinite;opacity:.75;-webkit-transform:scale(0.75);transform:scale(0.75)}.DOSvmeWbSRu5tBRu6eTH8Q\=\={top:300px;right:-3400px;-webkit-animation:eodZxj0ZOFl\+fD5D8h\+iCA\=\= 20s linear infinite;animation:eodZxj0ZOFl\+fD5D8h\+iCA\=\= 20s linear infinite;opacity:.8;-webkit-transform:scale(0.5);transform:scale(0.5)}.p-EoKSWY4QB\+ytXqyv6jcw\=\={top:100px;right:-1700px;-webkit-animation:eodZxj0ZOFl\+fD5D8h\+iCA\=\= 30s linear infinite;animation:eodZxj0ZOFl\+fD5D8h\+iCA\=\= 30s linear infinite;opacity:.2;-webkit-transform:scale(0.4);transform:scale(0.4)}._0IuO7XciYpbGNvDgRZN3tA\=\={top:400px;right:-2350px;-webkit-animation:eodZxj0ZOFl\+fD5D8h\+iCA\=\= 20s linear infinite;animation:eodZxj0ZOFl\+fD5D8h\+iCA\=\= 20s linear infinite;opacity:.3;-webkit-transform:scale(1.4);transform:scale(1.4)}.I3QZk1u\+5efP6f3Opbp69Q\=\={top:-50px;right:-4600px;-webkit-animation:eodZxj0ZOFl\+fD5D8h\+iCA\=\= 25s linear infinite;animation:eodZxj0ZOFl\+fD5D8h\+iCA\=\= 25s linear infinite;opacity:.9;-webkit-transform:scale(0.3);transform:scale(0.3)}.RKNShGWFhg6\+WlbHyQqhSw\=\={top:-80px;right:-4750px;-webkit-animation:eodZxj0ZOFl\+fD5D8h\+iCA\=\= 27s linear infinite;animation:eodZxj0ZOFl\+fD5D8h\+iCA\=\= 27s linear infinite;-webkit-transform:scale(0.3);transform:scale(0.3)}._0j\+LSK\+3oN2MKJaPjJea2Q\=\={top:30px;right:-4300px;-webkit-animation:eodZxj0ZOFl\+fD5D8h\+iCA\=\= 35s linear infinite;animation:eodZxj0ZOFl\+fD5D8h\+iCA\=\= 35s linear infinite;opacity:.6;-webkit-transform:scale(0.6);transform:scale(0.6)}.YPUaJjRgJVEbp23nbgE3xA\=\={right:-4500px;bottom:-70px;-webkit-animation:eodZxj0ZOFl\+fD5D8h\+iCA\=\= 25s linear infinite;animation:eodZxj0ZOFl\+fD5D8h\+iCA\=\= 25s linear infinite;opacity:.8;-webkit-transform:scale(0.6);transform:scale(0.6)}.sqLbBnFi0lokjmXi7awJtQ\=\={right:-3000px;bottom:20px;-webkit-animation:eodZxj0ZOFl\+fD5D8h\+iCA\=\= 28s linear infinite;animation:eodZxj0ZOFl\+fD5D8h\+iCA\=\= 28s linear infinite;opacity:.75;-webkit-transform:scale(0.75);transform:scale(0.75)}.CbOPdHtj658PI9sb\+OG\+gw\=\={top:300px;right:-4900px;-webkit-animation:eodZxj0ZOFl\+fD5D8h\+iCA\=\= 20s linear infinite;animation:eodZxj0ZOFl\+fD5D8h\+iCA\=\= 20s linear infinite;opacity:.8;-webkit-transform:scale(0.5);transform:scale(0.5)}.Mu61\+yZ1hPOh5QECceMB5Q\=\={top:100px;right:-3200px;-webkit-animation:eodZxj0ZOFl\+fD5D8h\+iCA\=\= 30s linear infinite;animation:eodZxj0ZOFl\+fD5D8h\+iCA\=\= 30s linear infinite;opacity:.2;-webkit-transform:scale(0.4);transform:scale(0.4)}.XJ9IgGTKpQ5YO\+4bkEsGlw\=\={top:400px;right:-3850px;-webkit-animation:eodZxj0ZOFl\+fD5D8h\+iCA\=\= 20s linear infinite;animation:eodZxj0ZOFl\+fD5D8h\+iCA\=\= 20s linear infinite;opacity:.3;-webkit-transform:scale(1.4);transform:scale(1.4)}@-webkit-keyframes eodZxj0ZOFl\+fD5D8h\+iCA\=\={0%{margin-right:0}100%{margin-right:10000px}}@keyframes eodZxj0ZOFl\+fD5D8h\+iCA\=\={0%{margin-right:0}100%{margin-right:10000px}}@keyframes eodZxj0ZOFl\+fD5D8h\+iCA\=\={0%{margin-right:0}100%{margin-right:10000px}}@keyframes eodZxj0ZOFl\+fD5D8h\+iCA\=\={0%{margin-right:0}100%{margin-right:10000px}}
.o-FH2mlQ6WGP7fBAjh3Esw\=\={display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-flex:1;-webkit-flex-grow:1;-ms-flex-positive:1;flex-grow:1;background-color:#56a9fc}
.g23zgKT0N99eXdghJlulXg\=\={display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-flex:1;-webkit-flex-grow:1;-ms-flex-positive:1;flex-grow:1;background-color:#56a9fc}
.vbvQFRMegTcajCf86fnT2w\=\={display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-flex:1;-webkit-flex-grow:1;-ms-flex-positive:1;flex-grow:1;background-color:#56a9fc}
.igUDDWqFkHW9yzpOmrZKbA\=\={-webkit-box-flex:1;-webkit-flex-grow:1;-ms-flex-positive:1;flex-grow:1;background-color:#56a9fc}
.qfqVqX6flEQyw6VMT71OGg\=\={position:relative}.PbapfdcxTTJ4KultWnZwsg\=\={position:absolute;top:20px;right:0}
.v7mEU2Kb5sZmR4BV63zA2Q\=\={max-width:400px;padding:20px;border:2px solid #000;margin:20px auto}.UJpQUHFTlGi\+3CWhiwSiJA\=\={position:relative}.amkrduiBAidzgHn2WzxOiw\=\={position:absolute;top:20px;right:0}.Y3I8vyZ7IlLVNIx4Jrk6IQ\=\={margin-top:20px !important}._8SnebLRsEj1tzH4P\+3onWA\=\={font-weight:700 !important;text-transform:uppercase}._7EFY-YSlRb9bm8aD1JqF8Q\=\={display:block;width:100%;margin-top:10px !important;color:#000 !important;text-align:center;text-decoration:underline;text-decoration-color:#000 !important}
.tPUO4DcIyMpvr6eSqwm6Hw\=\={-webkit-box-flex:1;-webkit-flex-grow:1;-ms-flex-positive:1;flex-grow:1;background-color:#56a9fc}
.-wKIPv9DNkUWCEUrcKX2fg\=\={max-width:600px;padding:20px;border:2px solid #000;margin:20px auto}._9aiYne1S0HYzobicsqmwiw\=\={margin-top:20px !important}._2oboFBQqRk9I6gxzfsxssA\=\={color:red}.\+qwycEngcxqFRcR27qZebw\=\=,._4TxCzu3P0OcvLnqEBBednQ\=\=,._3eqcuZ5KNbJYx7hIrSsADA\=\={margin-top:20px;font-weight:600 !important;text-align:center;text-transform:uppercase}.\+pj8bqYZBcARFM3Q3cSPXA\=\=,.oCN6qKsVaSIasa6rVu\+oZg\=\=,.Xbzp2a2fYherchhyuCyjgQ\=\={margin-bottom:10px;opacity:.8}.sg1rqJl7Imd1zMjiHX-CyQ\=\={display:block;width:100%;margin-top:10px !important;color:#000 !important;text-align:center;text-decoration:underline;text-decoration-color:#000 !important}
.DRMCyDqyWvhLH9OtA7pDcA\=\={font-weight:700 !important;text-transform:uppercase}.ok8kftIA3ahdYmA3VcU\+5g\=\= input:focus::-webkit-datetime-edit{color:#000 !important}.ok8kftIA3ahdYmA3VcU\+5g\=\= input:required:invalid::-webkit-datetime-edit{color:rgba(0,0,0,0)}
.ObUK5yry7He9y8sjJFHppg\=\={--main-color: rgb(86 169 252);--stroke-color: white;--font-size: 64px;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;-webkit-box-flex:1;-webkit-flex-grow:1;-ms-flex-positive:1;flex-grow:1;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;background-color:#56a9fc;font-family:"Open Sans",sans-serif}@media screen and (width <= 600px){.ObUK5yry7He9y8sjJFHppg\=\={--font-size: 48px}}.vNsSwkg9tITyB9uBzpoSeA\=\={margin:0;color:var(--stroke-color);font-family:"Encode Sans Semi Condensed",Verdana,sans-serif;font-size:var(--font-size);font-weight:200;text-align:center}._8a3EcHdVPKDgSAx7vufA2w\=\={margin:30px 0;color:var(--stroke-color);font-family:"Encode Sans Semi Condensed",Verdana,sans-serif;font-size:1.5rem;font-weight:200;text-align:center}.axB7PQRQ11L1IxvN5qrInQ\=\={position:relative;overflow:hidden;width:100%;height:220px;margin:0}.o2aOM--\+H-zr7mtp-kxlKA\=\={position:relative;z-index:0;width:120px;height:120px;border-radius:50%;margin:0 auto;background:var(--stroke-color)}.o2aOM--\+H-zr7mtp-kxlKA\=\=::before{position:absolute;z-index:2;border-radius:50%;background:var(--main-color);content:"";inset:5px}.o2aOM--\+H-zr7mtp-kxlKA\=\=::after{position:absolute;z-index:3;top:25px;left:25px;width:70px;height:70px;-webkit-box-sizing:border-box;box-sizing:border-box;border:5px solid var(--stroke-color);border-radius:50%;background:var(--main-color);content:""}.o2aOM--\+H-zr7mtp-kxlKA\=\=.ICmAbNnLAVcufPwy89LofQ\=\={top:20px;left:-130px;-webkit-animation:Z\+sHwu765k\+maYlejWNSqA\=\= 2s linear infinite;animation:Z\+sHwu765k\+maYlejWNSqA\=\= 2s linear infinite}.o2aOM--\+H-zr7mtp-kxlKA\=\=.jOy-bhELr\+DR117pufVxlw\=\={top:-55px;-webkit-animation:HwpIU6V21fEPSpq6A05bbg\=\= 2s linear infinite;animation:HwpIU6V21fEPSpq6A05bbg\=\= 2s linear infinite}.o2aOM--\+H-zr7mtp-kxlKA\=\=.u5YDJ2qMgUIUi6IoVyyrJg\=\={top:-215px;left:130px;-webkit-animation:KlVUw3G68HNlZ0YNdqRfcA\=\= 2s linear infinite;animation:KlVUw3G68HNlZ0YNdqRfcA\=\= 2s linear infinite}.o2aOM--\+H-zr7mtp-kxlKA\=\= .JZ\+7MOYLMnaftAAoCF4oPA\=\={position:absolute;z-index:0;top:50%;left:-15px;width:150px;height:30px;border-radius:5px;margin-top:-15px;background:var(--stroke-color)}.o2aOM--\+H-zr7mtp-kxlKA\=\= .JZ\+7MOYLMnaftAAoCF4oPA\=\=::before{position:absolute;z-index:1;border-radius:2px;background:var(--main-color);content:"";inset:5px}.o2aOM--\+H-zr7mtp-kxlKA\=\= .JZ\+7MOYLMnaftAAoCF4oPA\=\=:nth-child(2){-webkit-transform:rotate(60deg);transform:rotate(60deg)}.o2aOM--\+H-zr7mtp-kxlKA\=\= .JZ\+7MOYLMnaftAAoCF4oPA\=\=:nth-child(3){-webkit-transform:rotate(120deg);transform:rotate(120deg)}@-webkit-keyframes KlVUw3G68HNlZ0YNdqRfcA\=\={0%{-webkit-transform:rotate(0deg);transform:rotate(0deg)}20%{-webkit-transform:rotate(30deg);transform:rotate(30deg)}40%{-webkit-transform:rotate(25deg);transform:rotate(25deg)}60%{-webkit-transform:rotate(30deg);transform:rotate(30deg)}100%{-webkit-transform:rotate(0deg);transform:rotate(0deg)}}@keyframes KlVUw3G68HNlZ0YNdqRfcA\=\={0%{-webkit-transform:rotate(0deg);transform:rotate(0deg)}20%{-webkit-transform:rotate(30deg);transform:rotate(30deg)}40%{-webkit-transform:rotate(25deg);transform:rotate(25deg)}60%{-webkit-transform:rotate(30deg);transform:rotate(30deg)}100%{-webkit-transform:rotate(0deg);transform:rotate(0deg)}}@-webkit-keyframes Z\+sHwu765k\+maYlejWNSqA\=\={0%{-webkit-transform:rotate(0deg);transform:rotate(0deg)}20%{-webkit-transform:rotate(-30deg);transform:rotate(-30deg)}60%{-webkit-transform:rotate(-30deg);transform:rotate(-30deg)}100%{-webkit-transform:rotate(0deg);transform:rotate(0deg)}}@keyframes Z\+sHwu765k\+maYlejWNSqA\=\={0%{-webkit-transform:rotate(0deg);transform:rotate(0deg)}20%{-webkit-transform:rotate(-30deg);transform:rotate(-30deg)}60%{-webkit-transform:rotate(-30deg);transform:rotate(-30deg)}100%{-webkit-transform:rotate(0deg);transform:rotate(0deg)}}@-webkit-keyframes HwpIU6V21fEPSpq6A05bbg\=\={0%{-webkit-transform:rotate(0deg);transform:rotate(0deg)}20%{-webkit-transform:rotate(-30deg);transform:rotate(-30deg)}40%{-webkit-transform:rotate(-25deg);transform:rotate(-25deg)}60%{-webkit-transform:rotate(-30deg);transform:rotate(-30deg)}100%{-webkit-transform:rotate(0deg);transform:rotate(0deg)}}@keyframes HwpIU6V21fEPSpq6A05bbg\=\={0%{-webkit-transform:rotate(0deg);transform:rotate(0deg)}20%{-webkit-transform:rotate(-30deg);transform:rotate(-30deg)}40%{-webkit-transform:rotate(-25deg);transform:rotate(-25deg)}60%{-webkit-transform:rotate(-30deg);transform:rotate(-30deg)}100%{-webkit-transform:rotate(0deg);transform:rotate(0deg)}}
.jwl5FkGtLxBWl9uU0Uw37Q\=\={display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;width:100vw;height:100vh}
/*! modern-normalize v2.0.0 | MIT License | https://github.com/sindresorhus/modern-normalize */

/*
Document
========
*/

/**
Use a better box model (opinionated).
*/

*,
::before,
::after {
	box-sizing: border-box;
}

html {
	/* Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3) */
	font-family:
		system-ui,
		'Segoe UI',
		Roboto,
		Helvetica,
		Arial,
		sans-serif,
		'Apple Color Emoji',
		'Segoe UI Emoji';
	line-height: 1.15; /* 1. Correct the line height in all browsers. */
	-webkit-text-size-adjust: 100%; /* 2. Prevent adjustments of font size after orientation changes in iOS. */
	-moz-tab-size: 4; /* 3. Use a more readable tab size (opinionated). */
	tab-size: 4; /* 3 */
}

/*
Sections
========
*/

body {
	margin: 0; /* Remove the margin in all browsers. */
}

/*
Grouping content
================
*/

/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/

hr {
	height: 0; /* 1 */
	color: inherit; /* 2 */
}

/*
Text-level semantics
====================
*/

/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr[title] {
	text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/

b,
strong {
	font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
	font-family:
		ui-monospace,
		SFMono-Regular,
		Consolas,
		'Liberation Mono',
		Menlo,
		monospace; /* 1 */
	font-size: 1em; /* 2 */
}

/**
Add the correct font size in all browsers.
*/

small {
	font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}

/*
Tabular data
============
*/

/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/

table {
	text-indent: 0; /* 1 */
	border-color: inherit; /* 2 */
}

/*
Forms
=====
*/

/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/

button,
input,
optgroup,
select,
textarea {
	font-family: inherit; /* 1 */
	font-size: 100%; /* 1 */
	line-height: 1.15; /* 1 */
	margin: 0; /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
	text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/

button,
[type='button'],
[type='reset'],
[type='submit'] {
	-webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/

::-moz-focus-inner {
	border-style: none;
	padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/

:-moz-focusring {
	outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/

:-moz-ui-invalid {
	box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/

legend {
	padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
	vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
	height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
	-webkit-appearance: textfield; /* 1 */
	outline-offset: -2px; /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
	-webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/

::-webkit-file-upload-button {
	-webkit-appearance: button; /* 1 */
	font: inherit; /* 2 */
}

/*
Interactive
===========
*/

/*
Add the correct display in Chrome and Safari.
*/

summary {
	display: list-item;
}


